// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------
.sidebar {
  font-size: 1rem;
  &.bg {
    background: $light-grey;
    border-right: 1px solid $mid-grey;
  }
  &.full-height {
    height: 100vh;
  }
  .custom-list {
    margin-top: 0.5rem;
  }
  .sidebar-header {
    .custom-font {
      color: $mid-grey;
      font-size: small;
    }
  }
}
